/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

@import "tailwindcss";



/* Custom Theme using CSS Variables */
@layer base {
    :root {
        /* Light Theme Colors */
        --bg-color-background: #e6faeb;
        --text-color-text: #3B3437;
        --primary-color: #4A9B4B;
        --secondary-color: #88B73B;
        --accent-color: #FFB829;

        /* Dark Theme Colors */
        --bg-color-background-dark: #1D1F1F;
        --text-color-text-dark: #F0F7D8;
        --primary-color-dark: #A2C73E;
        --secondary-color-dark: #7A9C2F;
        --accent-color-dark: #F6B700;
    }

    html.dark {
        --bg-color-background: var(--bg-color-background-dark);
        --text-color-text: var(--text-color-text-dark);
        --primary-color: var(--primary-color-dark);
        --secondary-color: var(--secondary-color-dark);
        --accent-color: var(--accent-color-dark);
    }
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        background-color: var(--bg-color-background);
        color: var(--text-color-text);
        font-family: 'Inter', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    h1,
    h2,
    h3 {
        color: var(--primary-color);
    }
}

@layer utilities {

    /* Button Styles */
    .btn-primary {
        background-color: var(--primary-color);
        color: white;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .btn-primary:hover {
        background-color: var(--accent-color);
    }

    /* Text Colors */
    .text-color-text {
        color: var(--text-color-text);
    }

    .text-color-text-dark {
        color: var(--text-color-text-dark);
    }

    /* Background Colors */
    .bg-color-background {
        background-color: var(--bg-color-background);
    }

    .bg-color-background-dark {
        background-color: var(--bg-color-background-dark);
    }

    /* Border Colors */
    .border-color-border {
        border-color: var(--primary-color);
    }

    .border-color-border-dark {
        border-color: var(--primary-color-dark);
    }

    /* Highlight and Accent Colors */
    .second-highlight-color {
        background-color: var(--secondary-color);
    }

    .text-highlight {
        color: var(--accent-color);
    }
}

/* Footer Styles */
@layer utilities {
    .footer {
        background-color: var(--primary-color);
        color: black;
        padding: 20px;
        text-align: center;
    }
}

/* Header Styles */
@layer utilities {
    .header {
        background-color: var(--primary-color);
        color: white;

    }


}